{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Tytuły stron - wytyczna
                         <a href="{{ metric.guidelineHref }}" target="_blank">{{ metric.guidelineName }}</a>
                    </li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Strony internetowe posiadają tytuły, które opisują ich cel lub przedstawiają ich temat.
                </p>

                <h3>Realizacja</h3>
                <p>
                    W obecnej wersji metryka sprawdza jedynie czy tytuł strony został określony, przykładowo:
                    <pre>&lt;title&gt;Tytuł strony&lt;/title&gt;</pre>
                    Nie weryfikuje czy opisują cel lub przedstawiają ich temat, być może zostanie to zaimplementowane w kolejnej wersji.
                </p>

                <h3>Wartości metryki</h3>
                <ul>
                    <li>0 brak tytułu strony</li>
                    <li>100 tytuł został określony</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}