{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>Google Accessibility</h3>
                <ul>
                    <li>Reguała <a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_06" target="_blank">AX_ARIA_06</a></li>
                </ul>

                <h3>Opis</h3>
                <p>
                   Metryka weryfikuje, czy w przypadku, gdy hierarchia elementów wynika bezpośrednio ze struktury dokumentu nie są używane atrybuty aria-owns.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli są używane</li>
                    <li>100 jeśli nie są używane</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}