{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Zmiana rozmiaru tekstu - wytyczna
                        <a href="{{ metric.guidelineHref }}" target="_blank">{{ metric.guidelineName }}</a>
                    </li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Oprócz napisów rozszerzonych oraz tekstu w postaci grafiki, rozmiar tekstu może zostać powiekszony do 200%
                    bez użycia technologii wspomagających oraz bez utraty treści lub funkcjonalności.
                </p>

                <h3>Realizacja</h3>
                <p>
                    Metryka weryfikuje czy na stronie są mechanizmy polegające na stopniowym powiększaniu czcionki.
                    W obecnych czasach przegldarki pozwalają na dowolne manipulowanie wielkoścą czcionki i
                    mechanizm wykrywania takich funkcji nie jest doskonały to zdecydowaliśmy się na obniżenie wagi z AA jakie proponuje WCAG do A.
                </p>

                <h3>Wartości metryki</h3>
                <ul>
                    <li>0 jeśli nie strona posiada mechanizmów powiększania czcionki</li>
                    <li>100 jeśli strona posiada</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}