{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container-fluid">
        <div class="row mt">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Metryka {{ metric.namePl }}</h1>

                <p>
                Metryka sprawdza jaki CMS został użyty na stronie.
                Ma tylko wartość informacyjną nie jest brana pod uwagę przy liczeniu wskaźnika.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li> 100 dla każdej strony</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}