{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>Google Accessibility</h3>
                <ul>
                    <li>Reguła <a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_html_02" target="_blank">AX_HTML_02</a></li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Metryka weryfikuje, czy nie ma zduplikowanych identyfikatorów elementów.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli są powtarzające się identyikatory</li>
                    <li>100 jeśli nie ma</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}