{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>Google Accessibility</h3>
                <ul>
                    <li>Reguała <a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_focus_01" target="_blank">AX_FOCUS_01</a></li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Metryka weryfikuje, czy elementy, które mogą uzyskać fokus nie są niewidoczne lub zasłonięte przez inne elementy strony.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli są</li>
                    <li>100 jeśli nie są</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}