{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>Metryka {{ metric.namePl }}</h1>

                <p>
                    Metryka weryfikuje gęstość tagów formatujących.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>100 - (ilość tagów formatujących)/(ilość wszystkich tagów w body)</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}