{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Nagłówki sekcji - wytyczna <a href="http://fdc.org.pl/wcag2/#navigation-mechanisms" target="_blank">2.4.10</a> </li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Metryka weryfikuje, każda z sekcji z treścią jest opisana za pomocą nagłówków (tytułów), tam gdzie
                    będzie to konieczne.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli strona posiada więcej niż jeden tag h1 albo tag h1 nie jest pierwszym z nagłówków</li>
                    <li>100 - 40 * (ilość nagłówków posiadających podwęzły)/(ilość wszystkich nagłówków) - 40 * (ilość
                        pustych nagłówków)/(ilość wszystkich nagłówków)
                    </li>
                    <li>100 jeśli strona nie posiada w ogóle nagłówków</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}