{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Język strony - wytyczna
                         <a href="{{ metric.guidelineHref }}" target="_blank">{{ metric.guidelineName }}</a>
                    </li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Domyślny język naturalny każdej strony internetowej może zostać odczytany przez program komputerowy.
                </p>

                <h3>Realizacja</h3>
                <p>
                    Metryka weryfikuje czy strona ma określony domyślny język strony internetowej, przykładowo:
                    <pre>&lt;html lang="pl"&gt;</pre>
                    Zakłądamy, że analizujemy polskie strony i nie analizujemy czy język strony jest polski.
                </p>

                <h3>Wartości metryki</h3>
                <ul>
                    <li>0 brak określonego języka strony</li>
                    <li>100 język strony jest określony</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}