{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Etykiety lub instrukcje - wytyczna
                         <a href="{{ metric.guidelineHref }}" target="_blank">{{ metric.guidelineName }}</a>
                    </li>
                </ul>

                <h3>Opis</h3>
                <p>
                     Metryka weryfikuje, czy wszystkie elementy do wprowadzania danych na stronie mają etykiety.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli nie posiadają</li>
                    <li>100 jeśli posiadają</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}