{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>Metryka {{ metric.namePl }}</h1>

                <p>
                Metryka weryfikuje, czy wszystkie atrybuty ARIA odnoszące się do innych elementów po ID odnoszą się do istniejących elementów.
                </p>

                <h3>Wartości metryki</h3>

                <ul>
                    <li>0 jeśli atrybuty odnoszą się do nieistniejących elementów</li>
                    <li>100 jeśli atrybuty odnoszą się do istniejących elementów</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}