{% extends "../layout/base.twig" %}

{% block content %}
    <section class="container">
        <div class="row mt">
            <div class="col-md-12">
                <h1>{{ metric.namePl }}</h1>

                <h3>WCAG 2.0</h3>
                <ul>
                    <li>Kontrola odtwarzania dźwięku - wytyczna
                         <a href="{{ metric.guidelineHref }}" target="_blank">{{ metric.guidelineName }}</a>
                    </li>
                </ul>

                <h3>Opis</h3>
                <p>
                    Jeśli jakieś nagranie audio włącza się automatycznie na danej stronie
                    i jest odtwarzane przez okres dłuższy niż 3 sekundy,
                    dostępny jest albo mechanizm umożliwiający przerwanie lub wyłączenie nagrania,
                    albo mechanizm kontrolujący poziom głośności niezależnie od poziomu głośności całego systemu.
                </p>

                <h3>Realizacja</h3>
                <p>
                    Metryka weryfikuje czy zostały użyte mechanizmy wywołujące efekt uruchomienia dźwięku po uruchomieniu strony,
                    przykładowo:
                </p>
<pre>&lt;audio controls autoplay&gt;
  &lt;source src="plik.mp3" type="audio/mpeg"&gt;
&lt;/audio&gt;</pre>
                lub
                <pre>&lt;bgsound src="plik.mp3"/&gt;</pre>
                <p>
                    Metryka nie weryfikuje innych sposobów pozwalajcych na takie odtworzenie dźwięków jak np: flash
                </p>

                <h3>Wartości metryki</h3>
                <ul>
                    <li>0 jeśli strona posiada znaczniki które powodują odtwarzanie dźwięku po wczytaniu strony</li>
                    <li>100 jeśli strona nie posiada takich mechanizmów</li>
                </ul>

                {% include 'metric_meta.twig' %}

            </div>
        </div>
    </section>
{% endblock %}