<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Wyniki audytu {{ auditId }} dla strony {{ websiteUrl }}</p>
<p><a href="http://pwd.dolinagubra.pl/audyty/{{auditId}}/{{websiteId}}">Zobacz</a></p>
</body>
</html>