<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="width:700px;margin:10px auto;font-family:Arial">
	<div style="border-bottom:1px #ccc solid;">
		<img src="http://pwd.dolinagubra.pl/img/pwd-logo.png" style="float:left; width: 230px;padding:10px 0 20px; display:block"/>
		<div style="clear:both"></div>
	</div>
	<div style="clear:both;padding:0 0 30px;color:#666">
		<div style="background:#336699 url('http://pwd.dolinagubra.pl/img/bg-newsletter-pwd.jpg');background-size:cover;color:#fff;height:389px;text-align:center">
			<h2 style="padding-top:50px;font-size:40px;margin:0">Walidator Dostępności</h2>
			<p style="padding:25px 150px;font-size:14px;line-height:2">
			Dostępność to proces a nie stan, dlatego naszym celem jest nieustanne monitorowanie serwisów internetowych i doprowadzanie do wzrostu ich dostępności.
			</p>
			<a href="http://pwd.dolinagubra.pl/top-100" style="text-transform:uppercase;color:#fff;background:#990000;padding:20px 40px;text-decoration:none;font-weight:bold;margin-top:5px;display:inline-block">
			Zobacz ranking top 100
			</a>
		</div>
		<div style="text-align:center;padding:30px">
			<h2 style="text-transform:uppercase;font-size:28px;margin-bottom:40px">PWD Online - start projektu</h2>
			<p style="font-size:14px;line-height:1.5">
			Oddajemy do Państwa użytku pierwszą produkcyjną wersję PWD Online. Obecna wersja jest skierowana głównie do właścicieli i administratorów stron Jednostek Samorządu Terytorialnego. Wierzymy w to, że raporty PWD Państwa serwisów będą pomocne w podnoszeniu dostępności treści w nich zawartych.	Jesteśmy przekonani, że nasz ranking PWD wywoła pozytywną rywalizację i przyczyni się do ogólnego wzrostu dostępności stron Samorządowych. Podkreślamy też, że będziemy udoskonalać nasz projekt, dodawać nowe metryki i w razie potrzeby poprawiać istniejące. Liczymy na Państwa udział w tym procesie, dlatego też udostępniliśmy formularz kontaktowy.
			</p>
			<p style="font-size:14px;line-height:1.5">
			Projekt Polski Walidator Dostępności w skrócie PWD Online to specjalizowany serwis internetowy monitorujący konkretną grupę stron www (obecnie są to strony Jednostek Samorządu Terytorialnego), które są sprawdzane pod kątem dostępności dla osób niepełnosprawnych i seniorów. Sprawdzeniu podlega kilkanaście wytycznych WCAG 2.0, które są opisane w zakładce metryki. Na bazie tych wyników budowany jest ranking stron, a administratorzy dostają raport ze wskazówkami co należy poprawić, żeby zwiększyć dostępność serwisu. PWD Online nie daje pełnego obrazu dostępności strony internetowej, ale wskazuje problemy w konkretnych obszarach.
			</p>
			<a href="http://pwd.dolinagubra.pl/audyty/{{auditId}}/{{websiteId}}" style="text-transform:uppercase;color:#fff;background:#990000;padding:20px 40px;text-decoration:none;font-weight:bold;margin-top:30px;display:inline-block">
			sprawdź walidator PWD
			</a>
		</div>
	</div>
	<div style="border-top:1px #ccc solid;clear:both;padding:30px 0;color:#666">
		<p style="font-size:10pt">
		 PWD Online - Projekt współfinansowany przez Ministerstwo Administracji i Cyfryzacji
		</p>
		<img src="http://pwd.dolinagubra.pl/img/dolina-gubra-logo-stopka.png" style=" height: 60px;padding:10px 0 20px;"/>
		<img src="http://pwd.dolinagubra.pl/img/maic.png" style="height: 60px;padding:10px 0 20px; margin-left:30px"/>
	</div>
</div>
</body>
</html><script type="text/javascript"><!--
document.writeln('<'+'scr'+'ipt type="text/javascript" src="http://home.hit.stat24.com/_'+(new Date()).getTime()+'/script.js?id=bJtFL5wBGcZfbRi7Dfo0FbQGfXB_HOLAEmu1TChHikz.E7"></'+'scr'+'ipt>');
//--></script><script type="text/javascript"><!--
document.writeln('<'+'scr'+'ipt type="text/javascript" src="http://home.hit.stat24.com/_'+(new Date()).getTime()+'/script.js?id=bJtFL5wBGcZfbRi7Dfo0FbQGfXB_HOLAEmu1TChHikz.E7"></'+'scr'+'ipt>');
//--></script>