<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
</head>
<body>
<div style="width:700px;margin:10px auto;font-family:Arial">
	<div style="border-bottom:1px #ccc solid;">
		<img src="http://pwd.dolinagubra.pl/img/pwd-logo.png" style="float:left; width: 230px;padding:10px 0 20px; display:block"/>
		<div style="clear:both"></div>
	</div>
	<div style="clear:both;padding:30px 0;color:#666">
	<p>Wybrałeś szablon {{ name }} do systemu {{ cms }}</p>
	<a href="http://localhost:8080/pub/templates/{{ cms }}/{{ file }}" style="text-transform:uppercase;color:#fff;background:#990000;padding:20px 40px;text-decoration:none;font-weight:bold;margin-top:30px;display:inline-block">
	POBIERZ SZABLON
	</a>
	<h1>INSTRUKCJA INSTALACJI</h1>
	</div>
	<div style="border-top:1px #ccc solid;clear:both;padding:30px 0;color:#666">
		<p style="font-size:10pt">
		 PWD Online - projekt prowadzony przez Stowarzyszenie Na Rzecz Rozwoju Regionu Dolina Gubra i Ministerstwo Administracji i Cyfryzacji pwd.dolinagubra.pl, wersja 1.0 
		</p>
		<img src="http://pwd.dolinagubra.pl/img/dolina-gubra-logo-stopka.png" style=" height: 60px;padding:10px 0 20px;"/>
		<img src="http://pwd.dolinagubra.pl/img/maic.png" style="height: 60px;padding:10px 0 20px; margin-left:30px"/>
	</div>
</div>
</body>
</html>