{% extends "layout/base.twig" %}

{% block title %}O projekcie{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>O projekcie</h2>
		<h3>polski walidator dostępności pwd online</h3>        
	</section>  
	<div class="container-fluid bg-gray section info">	
		<article class="container">
			<p>
			Projekt Polski Walidator Dostępności w skrócie PWD Online to specjalizowany serwis internetowy publikujący ranking dostępności stron internetowych oraz udostępniający szczegółowe raporty dostępności dla osób zarządzających tymi serwisami. PWD Online to również źródło informacji o procesie ulepszania i kształtowania dostępności treści w serwisach internetowych.
			</p>
			<h3><i class="fa fa-share-alt"></i> Idea</h3>
			<p>
			Informacja w dzisiejszym świecie jest kluczowym narzędziem rozwoju ludzi, firm, organizacji i państw. Dostęp do tej informacji w coraz to większym stopniu możliwy jest poprzez udostępnianie treści cyfrowych. Najważniejszym medium dostępu do informacji jest Internet. Publikowane treści w sieci docierają do nas z każdej strony, ale czy są one w zasięgu każdego z nas ? Tworząc walidator PWD Online przyświeca nam idea monitorowania tych treści oraz raportowania czy publikacje te są dostępne, zrozumiałe, uporządkowane zgodnie z zasadami WCAG. Nasze metryki PWD walidujące poszczególne cechy, stany i procesy są permanentnie ulepszane. Publikujemy również własne raporty, które pomagają redaktorom treści cyfrowych w ustawicznym procesie zwiększania dostępności.
			</p>
			<h3><i class="fa fa-bullseye"></i>  Cel</h3>
			<ul>
				<li>Usprawnienie i ujednolicenie procesu monitorowania dostępności serwisów internetowych.</li>
				<li>Publikowanie rankingu dostępności publicznych serwisów internetowych, który to naszym zdaniem wprowadza istotny element pozytywnej rywalizacji.</li>
				<li>Udostępnienie bezpłatnych szablonów (templatek) z elementami kontroli i walidacji dostępności w oparciu o silnik aplikacji PWD Online.</li>
			</ul>
			<h3><i class="fa fa-user"></i> Ludzie</h3>
			<p>
			Nasz zespół stanowią członkowie stowarzyszenia oraz osoby wspierające nasze działania. Każdy z nas ma wieloletnie doświadczenie w projektowaniu i budowie aplikacji i portali internetowych. Pracujemy z pasją, zaangażowaniem. Jesteśmy wytrwali i zdeterminowani w dążeniu do naszych celów. Cały czas poszukujemy nowych rozwiązań i jesteśmy otwarci na nowe wyzwania i pomysły. Wspieramy się nawzajem i wspólnie tworzymy i budujemy nasz projekt.
			</p>	
		</article>	
	</div>
{% endblock %}