{% extends "layout/base.twig" %}

{% block content %}
<section class="container-fluid">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>O projekcie</h1>
            <p>Celem projektu Polski Walidator Dostępności - PWD On Line jest:</p>
            <ol>
                <li>Stworzenie automatycznego mechanizmu walidacji stron internetowych wraz z wygenerowaniem raportu dostęnościci</li>
                <li>Stworzenie rankingu stron internetowych pozycjonowanych w zależnościci od uzyskanej ilościci punktów raporcie walidacji</li>
                <li>Systematyczne aktualizowanie rankingu z częstotliwością nie mniejszą niż 7 dni oraz tworzenie i udostęienieienie raportów walidacji</li>
                <li>Wprowadzenie mechanizmu rywalizacji - zdrowej konkurencji w jak najlepszym udostępnianiu treści internetowych osobom starczym i niepełnosprawnym</li>
                <li>Udostępnienie szablonów stron internetowych (templatek) do popularnych systemów CMS - Joomla, WordPres i Drupal</li>
            </ol>        
		</div>
    </div>
</section>
{% endblock %}