{% extends "layout/base.twig" %}

{% block content %}
<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            about page
        </div>
    </div>
</section>
{% endblock %}