{% extends "layout/base.twig" %}

{% block title %}O projekcie{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>O projekcie</h2>
		<h3>polski walidator dostępności pwd online</h3>        
	</section>  
	<div class="container-fluid bg-gray section info">	
		<article class="container">
			<p>
			<a href="/regulamin">Regulamin serwisu</a>
			</p>
			<p>
			Projekt Polski Walidator Dostępności w skrócie PWD Online to specjalizowany serwis internetowy monitorujący konkretną grupę stron www (obecnie są to strony Jednostek Samorządu Terytorialnego), które są sprawdzane pod kątem dostępności dla osób niepełnosprawnych i seniorów. Sprawdzeniu podlega kilkanaście wytycznych WCAG 2.0, które są opisane w zakładce metryki. Na bazie tych wyników budowany jest ranking stron, a administratorzy dostają raport ze wskazówkami co należy poprawić, żeby zwiększyć dostępność serwisu.
			</p>
			<p>
			PWD Online nie daje pełnego obrazu dostępności strony internetowej, ale wskazuje problemy w konkretnych obszarach.
			</p>
			<h3><i class="fa fa-share-alt"></i> Idea</h3>
			<p>
			Zgodnie z rozporządzeniem Rady Ministrów z dnia 12 kwietnia 2012 roku w sprawie Krajowych Ram Interoperacyjności serwisy administracji publicznej muszą być dostosowane do potrzeb obywateli niepełnosprawnych zgodnie z międzynarodowym standardem WCAG 2.0. Z przeprowadzonego w 2013r. przez Fundację Widzialnibadania dostępności stron www – „Raport Otwarcia 2013” (badanie obejmowało wybrane serwisy administracji publicznej) wynika, iż niespełna 3% serwisów zostało zakwalifikowanych jako dostępne dla osób zagrożonych wykluczeniem cyfrowym ze względu na wiek i niepełnosprawność.
			</p>
			<p>
			Do prawidłowego projektowania usług, stron i serwisów internetowych trzeba móc mierzyć stopień wypełniania reguł dostępności. Istnieją wypracowane metody pomiaru i walidacji poprawności stron www: klasyczne oraz zautomatyzowane (w mniejszym czy większym stopniu). Badania klasyczne polegają na analizie i audycie stron i serwisów przez ekspertów oraz na ocenach stron przez ich użytkowników – w tym przez osoby niepełnosprawne (badanie UX – User Experience). Z uwagi na pracochłonność zwykle badane są tylko wybrane strony serwisu, a i tak badanie może trwać kilka czy kilkanaście dni. Metody automatyczne są nie tylko o wiele szybsze, ale także powtarzalne, dające możliwość obiektywnej analizy. Brane są pod uwagę aspekty wcześniej zaprojektowane w walidatorze, nie zawierają indywidualnych ocen użytkowników.
			</p>
			<p>
			Tworząc walidator PWD Online przyświecała nam idea stworzenia narzędzia, które przyspieszy proces dostosowywania serwisów internetowych JST do wymogów WCAG 2.0 i w pewnym stopniu będzie dopełnieniem procesu klasycznego i automatycznego badania dostępności stron www. Istotną wartością PWD Online jest automatyczne porównywanie wszystkich obserwowanych stron, co użytkownikom serwisu daje wyniki badania w bardzo szerokim kontekście.
			</p>
			<h3><i class="fa fa-bullseye"></i>  Cel</h3>
			<p>
			Naszym celem jest znaczący wzrost dostępności serwisów JST, a w przyszłości także innych grup serwisów. Cel nasz chcemy osiągnąć poprzez:
			</p>
			<ul>
				<li>zbudowanie rankingu dostępności serwisów internetowych (w oparciu o metryki PWD), który to naszym zdaniem wprowadzi istotny element pozytywnej rywalizacji;</li>
				<li>udostępnienie bezpłatnych szablonów do zastosowania w najpopularniejszych systemach CMS (Wordpress, Joomla, Drupal) stworzonych zgodnie z wymaganiami WCAG 2.0;</li>
				<li>publikowanie raportów ze wskazówkami dla administratorów stron poprawiającymi dostępność serwisu;</li>
				<li>ciągłe ulepszanie procesu monitorowania (usprawnianie obecnych metryk i dodawanie nowych, uwzględnianie i wdrażanie uwag administratorów serwisów);</li>
				<li>nawiązanie współpracy z instytucjami specjalizującymi się w dziedzinie dostępności w celu ulepszenia narzędzia.</li>
			</ul>
			<h3><i class="fa fa-user"></i> Ludzie</h3>
			<p>
			Nasz zespół stanowią członkowie stowarzyszenia oraz osoby wspierające nasze działania. Każdy z nas ma wieloletnie doświadczenie w projektowaniu i budowie aplikacji i portali internetowych. Pracujemy z pasją, zaangażowaniem. Jesteśmy wytrwali i zdeterminowani w dążeniu do naszych celów. Cały czas poszukujemy nowych rozwiązań i jesteśmy otwarci na nowe wyzwania i pomysły. Wspieramy się nawzajem i wspólnie tworzymy i budujemy nasz projekt.
			</p>	
		</article>	
	</div>
{% endblock %}