{% extends "layout/base.twig" %}

{% block content %}
<section class="container-fluid">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>O projekcie</h1>
            <p>Celem projektu <b>Polski Walidator Dostępności</b> - PWD On Line jest: </p>
            <ol>
                <li>Stworzenie automatycznego mechanizmu walidacji stron internetowych wraz z wygenerowaniem raportu dostępności</li>
                <li>Stworzenie rankingu stron internetowych pozycjonowanych w zależności od uzyskanej ilości punktów raporcie walidacji</li>
                <li>Systematyczne aktualizowanie rankingu z częstotliwością nie mniejszą niż 7 dni oraz tworzenie i udostępnienie raportów walidacji</li>
                <li>Wprowadzenie mechanizmu rywalizacji - zdrowej konkurencji w jak najlepszym udostępnianiu treści internetowych osobom starszym i niepełnosprawnym</li>
                <li>Udostępnienie szablonów stron internetowych do popularnych systemów CMS -
                     <a href="http://www.joomla.org" target="_blank">Joomla</a>,
                     <a href="https://wordpress.org" target="_blank">WordPress</a> i
                     <a href="https://www.drupal.org" target="_blank">Drupal</a></li>
            </ol>
		</div>
    </div>
</section>
{% endblock %}