<!DOCTYPE html>
<html>
<head>
    <title>Wykonane audyty</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <link href="/pwd-main.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>
    <form action="/audits" method="post">
        <input type="submit" value="Wystartuj audyt"/>
    </form>
    <form action="/audits" method="get">
        <input type="submit" value="Reload"/>
    </form>
</div>

<h1>Lista wykonanych audytow stron </h1>

    <table>
    <tr>
        <th>#</th>
        <th>status</th>
        <th>ilość stron</th>
        <th>wykonany</th>
        <th>czas trwania</th>
    </tr>
    {% for item in audits %}
        <td> <a href="/audits/{{ item.id }}"><code>[{{ item.id }}]</code></a> </td>
        <td>{{ item.processStatus }} </td>
        <td>{{ item.auditedSitesCount}} </td>
        <td>{{ item.finished}}</td>
        <td>{{ item.durationAsString}} </td>
    </tr>
    {% endfor %}

    </table>

</body>
</html>