{% extends "layout/base.twig" %}

{% block content %}
    <section class="container-fluid">
        <div class="row mt">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Aktualności:</h1>
                <div class="panel panel-default panel-google-plus">
                    <div class="panel-google-plus-tags">
                        <ul>
                            <li>#Audyty</li>
                            <li>#NowySerwis</li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <img class="img-circle pull-left"
                             src="https://lh3.googleusercontent.com/-w5bixeDgBtE/AAAAAAAAAAI/AAAAAAAAADE/Vqe4-6K7tiw/s64-c-k-no/photo.jpg"
                             alt="Mouse0270"/>

                        <h3>Bartosz Walacik</h3>
                        <h5><span>Gdzieś w internetach</span> - <span>Sierpień 20, 2015</span></h5>
                    </div>
                    <div class="panel-body">
                        <p>TO BĘDZIE INFORMATYCZNY KONTRAKT STULECIA. POLSKIE URZĘDY CHCĄ WYMIENIĆ 300 TYS. KOMPUTERÓW
                            DO GRY W PASJANSA.</p>
                    </div>
                </div>
                <div class="panel panel-default panel-google-plus">
                    <div class="panel-google-plus-tags">
                        <ul>
                            <li>#Audyty</li>
                            <li>#NowySerwis</li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <img class="img-circle pull-left"
                             src="https://lh3.googleusercontent.com/-w5bixeDgBtE/AAAAAAAAAAI/AAAAAAAAADE/Vqe4-6K7tiw/s64-c-k-no/photo.jpg"
                             alt="Mouse0270"/>

                        <h3>Bartosz Walacik</h3>
                        <h5><span>Gdzieś w internetach</span> - <span>Sierpień 20, 2015</span></h5>
                    </div>
                    <div class="panel-body">
                        <p>TO BĘDZIE INFORMATYCZNY KONTRAKT STULECIA. POLSKIE URZĘDY CHCĄ WYMIENIĆ 300 TYS. KOMPUTERÓW
                            DO GRY W PASJANSA.</p>
                    </div>
                </div>
                <div class="panel panel-default panel-google-plus">
                    <div class="panel-google-plus-tags">
                        <ul>
                            <li>#Audyty</li>
                            <li>#NowySerwis</li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <img class="img-circle pull-left"
                             src="https://lh3.googleusercontent.com/-w5bixeDgBtE/AAAAAAAAAAI/AAAAAAAAADE/Vqe4-6K7tiw/s64-c-k-no/photo.jpg"
                             alt="Mouse0270"/>

                        <h3>Bartosz Walacik</h3>
                        <h5><span>Gdzieś w internetach</span> - <span>Sierpień 20, 2015</span></h5>
                    </div>
                    <div class="panel-body">
                        <p>TO BĘDZIE INFORMATYCZNY KONTRAKT STULECIA. POLSKIE URZĘDY CHCĄ WYMIENIĆ 300 TYS. KOMPUTERÓW
                            DO GRY W PASJANSA.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}