{% extends "layout/base.twig" %}

{% block content %}
    <section class="container-fluid">
        <div class="row mt">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Aktualności:</h1>

                <div class="panel panel-default panel-google-plus">
                    <div class="panel-google-plus-tags">
                        <ul>
                            <li>#Audyty</li>
                            <li>#NowySerwis</li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <img class="img-circle pull-left"
                             src="http://dolinagubra.pl/wp-content/uploads/2015/08/logo_DolinaGubra-IT-150x150.jpg"
                             alt="Start projektu PWD"/>

                        <h3>Stowarzyszenie Dolina Gubra</h3>
                        <h5><span></span> - <span>6 lipca 2006</span></h5>
                    </div>
                    <div class="panel-body">
                        <p>Oficjalny start projektu Polski Walidator Dostępności</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}