{% extends "layout/base.twig" %}

{% block title %}Aktualności{% endblock %}

{% block content %}
	<section class="container-fluid text-center section page-header">
		<h2>Aktualności</h2>
		<h3>polski walidator dostępności</h3>	   
	</section>  
	<div class="container-fluid bg-gray section ">
		<div class="container">
			<article class="news">
				<figure class="col-sm-4">
					<!--<img class="img-responsive" src="/img/news2.jpg" alt="Start oficjalny projektu PWD">-->
				</figure>			
				<div class="col-sm-8">
					<h3>Wersja produkcyjna PWD Online 1.0</h3>
					<p class="date">01.12.2015</p>
					<p>
						Oddajemy do Państwa użytku pierwszą produkcyjną wersję PWD Online. 
						Obecna wersja jest skierowana głównie do właścicieli i administratorów stron Jednostek Samorządu Terytorialnego.
						Wierzymy w to, że raporty PWD Państwa serwisów będą pomocne w podnoszeniu dostępności treści w nich zawartych.
						Jesteśmy przekonani, że nasz ranking PWD wywoła pozytywną rywalizację i przyczyni się do ogólnego wzrostu dostępności stron Samorządowych.
						Podkreślamy też, że będziemy udoskonalać nasz projekt, dodawać nowe metryki i w razie potrzeby poprawiać istniejące. Liczymy na Państwa udział w tym procesie, dlatego też udostępniliśmy formularz kontaktowy.
						Nasz globalny wskaźnik dostępności PWD na starcie to 79,11.
					</p>	
				</div>	
			</article>		
		</div>
	</div>
	<div class="container-fluid bg-gray section ">
		<div class="container">
			<article class="news">
				<figure class="col-sm-4">
					<!--<img class="img-responsive" src="/img/news1.jpg" alt="Start projektu PWD">-->
				</figure>			
				<div class="col-sm-8">
					<h3>Start strony pwd.dolinagubra.pl.</h3>
					<p class="date">08.10.2015</p>
					<p>
						Wystartowała pierwsza testowa wersja strony PWD Online.
						Zaimplementowanych jest 29 metryk sprawdzających różne aspekty dostępności stron internetowych.
						Aktualnie codziennie badamy 2814 stron internetowych Jednostek Samorządu Terytorialnego.
						W zakładce Serwisy można wyszukać dany Urząd, sprawdzić jego dostępność PWD i zobaczyć jakie wytyczne są spełnione, a które wymagają poprawy.
						Podkreślamy jednak, że jest to wersja testowa i ciągle pracujemy nad udoskonaleniem metryk i procesów.
						Planowny start wersji produkcyjnej - 1 grudnia 2015 r.
					</p>	
				</div>	
			</article>		
		</div>
	</div>
{% endblock %}