{% extends "layout/base.twig" %}

{% block title %}Aktualności{% endblock %}

{% block content %}
	<section class="container-fluid text-center section page-header">
		<h2>Aktualności</h2>
		<h3>polski walidator dostępności</h3>	   
	</section>  
	<div class="container-fluid bg-gray section ">
		<div class="container">
			<article class="news">
				<figure class="col-sm-4">
					<img class="img-responsive" src="/img/news.jpg" alt="Start projektu PWD">
				</figure>			
				<div class="col-sm-8">
					<h3>Oficjalny start strony pwd.dolinagubra.pl.</h3>
					<p class="date">08.10.2015</p>
					<p>
						Wystartowała pierwsza testowa wersja strony PWD Online.
						Zaimplementowanych jest 29 metryk sprawdzających różne aspekty dostępności stron internetowych.
						Aktualnie regularnie badamy 2814 stron internetowych jednostek samorządowych.
					</p>	
				</div>	
			</article>		
		</div>
	</div>
{% endblock %}