{% extends "layout/base.twig" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>Kontakt</h2>
		<h3>Napisz do nas wiadomość</h3>
	</section>
	<div class="container-fluid bg-gray section ">
		<div class="container clearfix">
			<div class="col-sm-8 col-sm-offset-2 ">
				<form action="/kontakt" method="post">
					<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" maxlength="50"
							placeholder="Nazwa instytucji (wymagane)"
							required>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="administrativeEmail" name="administrativeEmail" maxlength="50"
							   placeholder="Email (wymagane)"
							   required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" maxlength="12"
							   placeholder="Numer telefonu">
					</div>
					<div class="form-group">
						<input class="form-control" id="site" name="site" maxlength="50"
							   placeholder="Adres strony">
					</div>
					<div class="form-group">
							<textarea class="form-control" name="message" id="message" placeholder="Wiadomość"
									  maxlength="255" rows="7"></textarea>
					</div>
					<button type="submit" id="submit" name="submit" class="btn pull-right cta cta-1">Wyślij</button>
			</form>
        	</div>
        </div>
    </div>
{% endblock %}