{% extends "layout/base.twig" %}

{% block content %}
    <section class="container-fluid">
        <div class="row mt text-center">
            <div class="col-md-12">
                <h2>Do pobrania</h2>

                <h3>Bezpłatne szablony stron WWW</h3>
            </div>
        </div>
        <div class="row mt">
            <div class="col-sm-8 col-sm-offset-2">
                <p>
                    W ramach naszego projektu opracowaliśmy i udostępniamy bezpłatnie templatki - szablony do popularnych systemów CMS.
                    Jeśli jesteś użytkownikiem CMS
                    <a href="http://www.joomla.pl/" target="_blank">Joomla</a>,
                    <a href="https://www.drupal.org/" target="_blank">Drupal</a>
                    lub
                    <a href="https://pl.wordpress.org/" target="_blank">Wordpress</a>
                    wybierz z galerii szablonów swoją ulubioną templatkę, pobierz i zainstaluj.
                    Jeśli potrzebujesz pomocy - skontaktuj się z nami przez formularz.
                </p>
            </div>
        </div>
    </section>
{% endblock %}