{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container-fluid text-center section page-header">  
	<h2>Do pobrania</h2>
	<h3>Bezpłatne responsywne szablony stron WWW</h3>
</section>		
		
<div class="container-fluid bg-gray section info">	
	<article class="container">
		<p>
			W ramach naszego projektu opracowaliśmy i udostępniamy bezpłatnie templatki - szablony do popularnych systemów CMS.
			Jeśli jesteś użytkownikiem CMS
			<a href="http://www.joomla.pl/" target="_blank">Joomla</a>,
			<a href="https://www.drupal.org/" target="_blank">Drupal</a>
			lub
			<a href="https://pl.wordpress.org/" target="_blank">Wordpress</a>
			wybierz z galerii szablonów swoją ulubioną templatkę, pobierz i zainstaluj.
			Jeśli potrzebujesz pomocy - skontaktuj się z nami przez <a href="/kontakt">formularz kontaktowy</a>.
		</p>
		<p>
		Wszystkie szablony zostały wykonane w wersji responsywnej RWD.
		</p>
    </article>
			
	<div class="container templates">		
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t1-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T1.1">
								<img src="/img/szablony/szablon-pwd-t1-1.jpg" class="img-responsive" alt="Szablon PWD T1.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T1.1
						</h5>
						<p>
							Szablon Biuletynu Informacji Publicznej w wersji szarej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t1-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T1.2">
								<img src="/img/szablony/szablon-pwd-t1-2.jpg" class="img-responsive" alt="Szablon PWD T1.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T1.2
						</h5>
						<p>
							Szablon Biuletynu Informacji Publicznej w wersji zielonej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t1-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T1.3">
								<img src="/img/szablony/szablon-pwd-t1-3.jpg" class="img-responsive" alt="Szablon PWD T1.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T1.3
						</h5>
						<p>
							Szablon Biuletynu Informacji Publicznej w wersji czerwonej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t2-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T2.1">
								<img src="/img/szablony/szablon-pwd-t2-1.jpg" class="img-responsive" alt="Szablon PWD T2.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T2.1
						</h5>
						<p>
							Alternatywny szablon Biuletynu Informacji Publicznej w kolorystyce szarej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t2-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T2.2">
								<img src="/img/szablony/szablon-pwd-t2-2.jpg" class="img-responsive" alt="Szablon PWD T2.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T2.2
						</h5>
						<p>
							Alternatywny szablon Biuletynu Informacji Publicznej w kolorystyce niebieskiej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t2-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T2.3">
								<img src="/img/szablony/szablon-pwd-t2-3.jpg" class="img-responsive" alt="Szablon PWD T2.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T2.3
						</h5>
						<p>
							Alternatywny szablon Biuletynu Informacji Publicznej w kolorystyce czerwonej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t3-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T3.1">
								<img src="/img/szablony/szablon-pwd-t3-1.jpg" class="img-responsive" alt="Szablon PWD T3.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T3.1
						</h5>
						<p>
							Szablon dla Urzędu Miasta lub Gminy w wersji podstawowej (z elementami BIP)
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t3-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T3.2">
								<img src="/img/szablony/szablon-pwd-t3-2.jpg" class="img-responsive" alt="Szablon PWD T3.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T3.2
						</h5>
						<p>
							Szablon dla Urzędu Miasta lub Gminy w wersji okolicznościowej (z elementami BIP)
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t3-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T3.3">
								<img src="/img/szablony/szablon-pwd-t3-3.jpg" class="img-responsive" alt="Szablon PWD T3.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T3.3
						</h5>
						<p>
							Szablon dla Urzędu Miasta lub Gminy w wersji alternatywnej (z elementami BIP)
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t4-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T4.1">
								<img src="/img/szablony/szablon-pwd-t4-1.jpg" class="img-responsive" alt="Szablon PWD T4.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T4.1
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji podstawowej 
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t4-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T4.2">
								<img src="/img/szablony/szablon-pwd-t4-2.jpg" class="img-responsive" alt="Szablon PWD T4.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T4.2
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji alternatywnej 
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t4-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T4.3">
								<img src="/img/szablony/szablon-pwd-t4-3.jpg" class="img-responsive" alt="Szablon PWD T4.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T4.3
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji podstawowej z elementami BIP
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t5-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T5.1">
								<img src="/img/szablony/szablon-pwd-t5-1.jpg" class="img-responsive" alt="Szablon PWD T5.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T5.1
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji podstawowej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t5-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T5.2">
								<img src="/img/szablony/szablon-pwd-t5-2.jpg" class="img-responsive" alt="Szablon PWD T5.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T5.2
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji alternatywnej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t5-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T5.3">
								<img src="/img/szablony/szablon-pwd-t5-3.jpg" class="img-responsive" alt="Szablon PWD T5.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T5.3
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji podstawowej z elementami BIP
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t6-1-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T6.1">
								<img src="/img/szablony/szablon-pwd-t6-1.jpg" class="img-responsive" alt="Szablon PWD T6.1">
							</a>
						</figure>
						<h5>
							Szablon PWD T6.1
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji podstawowej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t6-2-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T6.2">
								<img src="/img/szablony/szablon-pwd-t6-2.jpg" class="img-responsive" alt="Szablon PWD T6.2">
							</a>
						</figure>
						<h5>
							Szablon PWD T6.2
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji alternatywnej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-download col-md-4 text-left">			
					<div>
						<figure>
							<a href="/img/szablony/szablon-pwd-t6-3-prev.jpg" data-lightbox="templates" data-title="Szablon PWD T6.3">
								<img src="/img/szablony/szablon-pwd-t6-3.jpg" class="img-responsive" alt="Szablon PWD T6.3">
							</a>
						</figure>
						<h5>
							Szablon PWD T6.3
						</h5>
						<p>
							Szablon dla Stowarzyszenia lub Fundacji w wersji alternatywnej
						</p>
						<p>
						pobierz wersję dla:
						</p>
						<div class="visible-regular clearfix">
							<a href="" class="col-md-4">
								<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
							</a>
							<a href="" class="col-md-4">
								<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
							</a>
						</div>
						<div class="visible-contrast">
							<ul>
								<li>
									<a href="">Wordpress</a>
								</li>
								<li>
									<a href="">Drupal</a>
								</li>
								<li>
									<a href="">Joomla</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}