{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container">
    <div class="row mt">
        <div class="col-md-12 col-sm-offset-2">
            <p>Dziękujemy za pobranie szablonu.</p>
		</div>
    </div>
</section>
{% endblock %}