{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container">
    <div class="row mt">
        <div class="col-md-12 col-sm-offset-2">
            <p>
                Dziękujemy za wypełnienie formularza.
            </p>
            <p>
                Na Twój adres email właśnie wysłaliśmy wiadomość. Znajdziesz w niej link do pobrania paczki instalacyjnej z szablonem oraz instrukcję, która pomoże Ci w instalacji szablonu.
            </p>
            <p>
                Sprawdź swoją skrzynkę pocztową i postępuj dalej zgodnie z instrukcją. Jeśli wiadomość trafiła do spamu, proszę dodaj nasz adres do listy zaufanych adresatów.
            </p>
            <p>
                Instalacja szablonu nie powinna sprawić problemów, gdy jednak będziesz potrzebować pomocy skontaktuj się z nami przez <a href="/kontakt">formularz kontaktowy</a>.
            </p>
	        <p>Pozdrawiamy, zespół <a href="http://pwd.dolinagubra.pl">pwd.dolinagubra.pl</a></p>
	        <a role="button" href="/pobierz" class="btn cta cta-1">Powrót</a>
	    </div>
    </div>
</section>
{% endblock %}
