{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container">
    <div class="row mt">
        <div class="col-md-12 col-sm-offset-2">
            <p>
                Dziękujemy za wypełnienie formularza pobierania szablonu.
            </p>
            <p>
                Na Twój adres e-mail podany w formularzu zostały wysłane informacje jak go pobrać i zainstalować.
            </p>
            <p>
                Sprawdź swoją skrzynkę pocztową i postępuj dalej zgodnie z zaleceniami.
            </p>
            <p>
                W przypadku problemów skorzystaj z naszego <a href="/kontakt">formularza kontaktowego</a>.
            </p>
		</div>
    </div>
</section>
{% endblock %}