{% extends "layout/base.twig" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<section class="container-fluid text-center section page-header">
    <h2>Kontakt</h2>
    <h3>Masz uwagi, potrzebujesz pomocy - napisz do nas wiadomość</h3>
</section>

<div class="container-fluid bg-gray section info">
	<article class="container">
	    <p>Dziękujemy za przesłaną wiadomość.</p>
        <p>Twoja opinia jest dla nas ważna. Po zapoznaniu się ze sprawą odpowiemy bez zwłoki.</p>
		<p>Pozdrawiamy, zespół <a href="http://pwd.dolinagubra.pl">pwd.dolinagubra.pl</a></p>
    </article>
</div>
{% endblock %}