{% extends "layout/base.twig" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<section class="container">
    <div class="row mt">
        <div class="col-md-12 col-sm-offset-2">
            <p>Dziękujemy za przesłanie zgłoszenia.</p>
            <p>Postaramy się odpowiedzieć w najbliższym czasie</p>
		</div>
    </div>
</section>
{% endblock %}