{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}

<div class="container-fluid bg-gray section info">
	<article class="container">
	    <p>
	        Przepraszamy link już nie jest aktywny.
	        Wróć na stronę <a href="/pobierz">galerii szablonów</a> i spróbuj ponownie.
	    </p>
		<p>
		    Jeśli potrzebujesz pomocy skontaktuj się z nami przez <a href="/kontakt">formularz kontaktowy</a>.
		</p>
    </article>
</div>
{% endblock %}