{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}

<div class="container-fluid bg-gray section info">
	<article class="container">
	    <p>Przepraszamy link już nie jest aktywny. Proszę spróbować ponownie.</p>
    </article>
</div>
{% endblock %}