<!DOCTYPE html>
<html>
<head>
    <title>Serwis PWD</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <link href="pwd-main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Witamy w PWD: Zażółć Gęślą jaźń.</h1>

W naszym wspaniałym serwisie, możesz znaleźć:

<ul>
    <li/><a href="/edytorial_head">edytorial_head_plazowy_szyk</a>
</ul>

</body>
</html>