{% extends 'layout/base.twig' %}

{% block content %}
    <section id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Walidator Dostępności</h1>
                    <small>Dbamy o użyteczność stron państwowych, poprzez automatyczny mechanizm walidacji stron
                        internetowych wraz z wygenerowaniem raportu dostępności.
                    </small>
                    <br/>
                    <a href="/top-100" class="btn btn-danger">Zobacz ranking top 100</a>&nbsp;<a href="/o-projekcie"
                                                                                                 class="btn btn-success">O
                        projekcie</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive" src="img/ipad-hand.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row mt text-center">
            <div class="col-md-12">
                <h2>Twoja strona pod naszym nadzorem</h2>

                <h3>Zobacz jak wygląda nasz proces analizy</h3>
            </div>
        </div>

        <div class="row mt text-center">
            <div class="col-lg-4">
                <img src="/img/odwiedziny-ico.png" width="180" alt="">
                <h4>1 - Odwiedzny Twojej strony</h4>

                <p>Nasz system odwiedzi Twoją stronę i sprawdzi kilka rzeczy, co tutaj można lepiej opisać bla
                    blabla.</p>
            </div>

            <div class="col-lg-4">
                <img src="/img/analiza-ico.png" width="180" alt="">
                <h4>2 - Analiza danych</h4>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>

            </div>

            <div class="col-lg-4">
                <img src="/img/raport-ico.png" width="180" alt="">
                <h4>3 - Raport</h4>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>

            </div>
        </div>
    </section>

    <section class="container-fluid" style="background-color: #f9f9f9">
        <div class="row mt text-center">
            <div class="col-md-12">
                <h2>Do pobrania</h2>

                <h3>Bezpłatne szablony stron www z certyfikatem PWD</h3>
                <a href="/szablony" class="btn btn-danger">Więcej szablonów</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row mt text-center">
            <div class="col-md-12">
                <h2>Globalny wskaźnik dostępności</h2>

                <h3>PWD Rank</h3>
            </div>
        </div>
    </section>

    <section class="container-fluid" style="background-color: #f9f9f9">
        <div class="row mt text-center">
            <div class="col-md-12">
                <h2>Ranking PWD TOP100</h2>
                <h3>Najbardziej dostępne strony użyteczności publicznej</h3>
            </div>
        </div>
    </section>
{% endblock %}
