<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Polski Walidator Dostępności</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong>PWD Online logo</strong>
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Strona główna</a></li>
                <li><a href="#">Serwisy</a></li>
                <li><a href="#">Aktualności</a></li>
                <li><a href="#">O projekcie</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>

<section id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Dbamy o użyteczność<br/>
                    stron publicznych.</h1>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="img/ipad-hand.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Wyniki analizy</h4>
            <a href="/audits">Lista wykonanych audytow</a>
            <table class="table table-striped table-hover hide">
                <thead>
                <tr>
                    <th></th>
                    <th>Portal</th>
                    <th>Data analizy</th>
                    <th>Ocena</th>
                    <th>Szczegóły analizy</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="http://radom.pl">radom.pl</a></td>
                    <td>2015-08-01</td>
                    <td>
                        <i class="glyphicon glyphicon-star"/>
                        <i class="glyphicon glyphicon-star"/>
                        <i class="glyphicon glyphicon-star"/>
                        <i class="glyphicon glyphicon-star-empty"/>
                    </td>
                    <td><a href="#">szczegóły</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="container">
    <div class="row mt text-center">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Twoja strona pod naszym nadzorem</h1>

            <h3>Zobacz jak wygląda nasz proces analizy</h3>
        </div>
    </div>

    <div class="row mt text-center">
        <div class="col-lg-4">
            <img src="img/ser01.png" width="180" alt="">
            <h4>1 - Odwiedzny Twojej strony</h4>

            <p>Nasz system odwiedzi Twoją stronę i sprawdzi kilka rzeczy, co tutaj można lepiej opisać bla blabla.</p>
        </div>

        <div class="col-lg-4">
            <img src="img/ser02.png" width="180" alt="">
            <h4>2 - Analiza danych</h4>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</p>

        </div>

        <div class="col-lg-4">
            <img src="img/ser03.png" width="180" alt="">
            <h4>3 - Raport</h4>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</p>

        </div>
    </div>
</section>

<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Baza stron do analizy</h4>
            <a href="/websites">Lista audytowanych stron</a>
        </div>
    </div>
</section>

<p class="text-center">PWDTEAM Copyrights 2015</p>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
