{% extends "layout/base.twig" %}

{% block title %}Regulamin{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>Regulamin</h2>
		<h3>Zasady ...</h3>
	</section>  
	<div class="container-fluid bg-gray section info">	
		<article class="container">
			<p>
			Treść.
			</p>
		</article>
	</div>
{% endblock %}