{% extends "layout/base.twig" %}

{% block title %}Regulamin{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>Regulamin</h2>
		<h3>Zasady ...</h3>
	</section>  
	<div class="container-fluid bg-gray section info">	
		<article class="container">
		    <h3>Informacje ogólne</h3>
		        <ol>
		            <li>
		                Operatorem Serwisu pwd.dolinagubra.pl jest Stowarzyszenie Na rzecz Rozwoju Dolina Gubra z
		                siedzibą w 11-430 Korsze, Studzieniec 27,
		                wpisana do Krajowego Rejestru Sądowego pod numerem KRS 0000412628, REGON 281379846, NIP 7422246158
		            </li>
		            <li>
		                Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
		                <ul>
		                    <li>Poprzez dobrowolnie wprowadzone w formularzach kontaktowych</li>
		                    <li>Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").</li>
		                    <li>Poprzez gromadzenie logów serwera www</li>
		                </ul>
		            </li>
		        </ol>
		    <h3>Informacje w formularzach</h3>
		        <ol>
		            <li>Serwis zbiera informacje podane dobrowolnie przez użytkownika.</li>
                    <li>Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP)</li>
                    <li>Dane w formularzu nie są udostępniane podmiotom trzecim.</li>
                    <li>Dane podane w formularzu kontaktowym ( nazwa instytucji, e-mail, numer telefonu, adres strony, wiadomość) nie podlegają ochronie danych osobowych na podstawie przepisów ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych.</li>
                    <li>Dane podane w formularzach są przetwarzane w celu wynikającym z funkcji konkretnego formularza.</li>
                    <li>Dane podane w formularzach mogą być przekazane podmiotom technicznie realizującym niektóre usługi związane z funkcjonalnością serwisu. Mogą być wykorzystywane do wysyłania raportów serwisu oraz informacji o aktualizacjach.</li>
		        </ol>
		    <h3>Informacja o plikach cookies</h3>
		        <ol>
		            <li>
		                Serwis korzysta z plików cookies.
		            </li>
		            <li>
		                Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe,
		                które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania
		                ze stron internetowych Serwisu.
		                Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich
		                na urządzeniu końcowym oraz unikalny numer.
		            </li>
		            <li>
		                Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.
		            </li>
		            <li>
		                Pliki cookies wykorzystywane są w następujących celach:
		                <ul>
		                    <li>tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;</li>
		                    <li>utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;</li>
		                    <li>określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych.</li>
		                </ul>
		            </li>
		            <li>
                        W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies:
                        „sesyjne” (session cookies) oraz „stałe” (persistent cookies).
                        Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania,
                        opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej).
                        „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies
                        lub do czasu ich usunięcia przez Użytkownika.
		            </li>
		            <li>
                        Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie
                        plików cookies w urządzeniu końcowym Użytkownika.
                        Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie.
                        Przeglądarka internetowa umożliwia usunięcie plików cookies.
                        Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc
                        lub dokumentacja przeglądarki internetowej.
		            </li>
		            <li>
                        Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.
		            </li>
		            <li>
                        Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być również przez współpracujących z operatorem Serwisu reklamodawców oraz partnerów.
		            </li>
		            <li>
                        Pliki cookie mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia reklam dopasowanych do sposobu, w jaki użytkownik korzysta z Serwisu.
                        W tym celu mogą zachować informację o ścieżce nawigacji użytkownika lub czasie pozostawania na danej stronie.
		            </li>
		            <li>
                        W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i
                        edytować informacje wynikające z plików cookies przy pomocy narzędzia:
                        <a href="https://www.google.com/ads/preferences/" target="_blank">www.google.com/ads/preferences</a>
		            </li>
		        </ol>
		    <h3>Logi serwera</h3>
		        <ol>
		            <li>
		                Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej.
		                Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia
		                jak najbardziej sprawnej obsługi świadczonych usług hostingowych.
		            </li>
		            <li>
		                Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:
		                <ul>
		                    <li>czas nadejścia zapytania,</li>
		                    <li>czas wysłania odpowiedzi,</li>
		                    <li>nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</li>
		                    <li>informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
                            <li>adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</li>
                            <li>informacje o przeglądarce użytkownika,</li>
                            <li>informacje o adresie IP.</li>
		                </ul>
		            </li>
		            <li>
                        Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.
		            </li>
		            <li>
                        Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.
		            </li>
		        </ol>
		    <h3>Udostępnienie danych</h3>
		        <ol>
		            <li>Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</li>
                    <li>Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.</li>
                    <li>Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.</li>
		        </ol>
		    <h3>Zarządzanie plikami cookies – jak wyrażać i wycofać zgodę?</h3>
		        <ol>
		            <li>
		                Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki.
		                Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa,
		                utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www
		            </li>
                    <li>
                        W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową / system i postępuj zgodnie z instrukcjami:
		                <ul>
		                    <li><a href="http://windows.microsoft.com/pl-PL/windows-vista/Block-or-allow-cookies" target="_blank">Internet Explorer</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=pl" target="_blank">Chrome</a></li>
                            <li><a href="https://support.apple.com/kb/PH17191?locale=en_US" target="_blank">Safari</a></li>
                            <li><a href="" target="_blank">Firefox</a></li>
                            <li><a href="http://help.opera.com/Windows/12.10/pl/cookies.html" target="_blank">Opera</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=pl" target="_blank">Android</a></li>
                            <li><a href="https://support.apple.com/pl-pl/HT201265" target="_blank">Safari (iOS)</a></li>
                            <li><a href="http://www.windowsphone.com/pl-pl/how-to/wp7/web/changing-privacy-and-other-browser-settings" target="_blank">Windows Phone</a></li>
                            <li><a href="" target="_blank">Blackberry</a></li>
		                </ul>
                    </li>
		        </ol>
		</article>
	</div>
{% endblock %}