{% extends "layouts/base.twig" %}

{% block content %}
<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Lista audytowanych stron: </h4>
            <ul>
                {% for item in websites %}
                <li>
                    <code>[{{ item.id }}]</code>
                    <a href="{{ item.url }}">{{ item.url }}</a>
                    &nbsp; {{ item.administrativeUnit }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}