<footer>
    <div class="container">
		<div class="row">
			<div class="col-md-7">
				<p>Szablon został opracowany w ramach projektu PWD Online prowadzonego przez Stowarzyszenie Na Rzecz
					Rozwoju Regionu Dolina Gubra i Ministerstwo Administracji i Cyfryzacji <a href="http://pwd.dolinagubra.pl">pwd.dolinagubra.pl</a>, wersja 1.0
				</p>
			</div>
			<div class="col-md-5">	
				<img src="/img/maic.png" alt="Ministerstwo Administracji i Cyfryzacji" class="img-responsive pull-right maic">
				<img src="/img/dolina-gubra-logo-stopka.svg" class="img-responsive pull-right" alt="Dolina Gubra">
			</div>
		</div>
    </div>
</footer>