<footer class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                Szablon został opracowany w ramach projektu PWD Online prowadzonego przez
                Stowarzyszenie na rzecz Rozwoju Doliny Gubra i Ministerstwo Administracji i Cyfryzacji, wersja 1.0
            </p>
        </div>
        <div class="col-md-4">
            <img src="/img/dolina-gubra-logo-stopka.svg" alt="Stowarzyszenie Dolina Gubra"/>
            <img src="/img/maic.png" alt="Ministerstwo Administracji i Cyfryzacji" class="pull-right"/>
        </div>

    </div>
</footer>