<footer>
    <div class="container">
		<div class="row">
			<div class="col-md-7">
				<p>
				Strona została opracowana w ramach projektu PWD online realizowanego przez
				Stowarzyszenie Na Rzecz Rozwoju Regionu Dolina Gubra przy wsparciu
				Ministerstwa Administracji i Cyfryzacji
				</p>
			</div>
			<div class="col-md-5">	
				<img src="/img/maic.png" alt="Ministerstwo Administracji i Cyfryzacji" class="img-responsive pull-right maic">
				<img src="/img/dolina-gubra-logo-stopka.svg" class="img-responsive pull-right" alt="Dolina Gubra">
			</div>
		</div>
    </div>
</footer>