<footer>
    <div class="container">
		<div class="row">
			<div class="col-md-7">
				<p>Szablon został opracowany w ramach projektu PWD Online prowadzonego przez Stowarzyszenie na rzecz 
					Rozwoju Dolina Gubra i Ministerstwo Administracji i Cyfryzacji <a href="http://pwd.dolinagubra.pl">pwd.dolinagubra.pl</a>, wersja 1.0
				</p>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<img src="/img/dolina-gubra-logo-stopka.svg" class="img-responsive pull-left" alt="Dolina Gubra">
				<img src="/img/maic.png" alt="Ministerstwo Administracji i Cyfryzacji" class="img-responsive pull-right maic">
			</div>
		</div>
    </div>
</footer>