<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="PWD Online">
                <img class="img-responsive" src="/img/pwd-logo.png" alt="Logo serwisu">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/serwisy">SERWISY</a></li>
                <li><a href="/metryki">METRYKI</a></li>
                <li><a href="/aktualnosci">AKTUALNOŚCI</a></li>
                <li><a href="/o-projekcie">O PROJEKCIE</a></li>
                <li><a href="/kontakt">KONTAKT</a></li>
            </ul>
        </div>
    </div>
</div>