<!-- fonty, kontrasty -->
<div class="icons">
	<span class="font font-basic" title="Podstawowy rozmiar tekstu">
	A
	</span>
	<span class="font font-plus" title="Powiększ tekst o 50%">
	A<em>+</em>
	</span>
	<span class="font font-plus-plus" title="Powiększ tekst o 100%">
	A<em>++</em>
	</span>
	
	<span class="contrast contrast-1" title="Podstawowy kontrast">
	K
	</span>
	<span class="contrast contrast-2"  title="Biały tekst na czarnym tle">
	K
	</span>
	<span class="contrast contrast-3"  title="Czarny tekst na źółtym tle">
	K
	</span>
	<span class="contrast contrast-4" title="Żółty tekst na czarnym tle">
	K
	</span>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/pwd-online-logo.svg" alt="PWD">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <button id="contrastToggle" type="button" class="hide btn btn-default navbar-btn navbar-right">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li><a {% if (request.requestURI == "/top-100") %} class="current"{% endif %} href="/top-100">Ranking</a></li>
                <li><a {% if (request.requestURI == "/serwisy") %} class="current"{% endif %} href="/serwisy">Serwisy</a></li>
                <li><a {% if (request.requestURI == "/metryki") %} class="current"{% endif %} href="/metryki">Metryki</a></li>
                <li><a {% if (request.requestURI == "/aktualnosci") %} class="current"{% endif %} href="/aktualnosci">Aktualności</a></li>
                <li><a {% if (request.requestURI == "/o-projekcie") %} class="current"{% endif %} href="/o-projekcie">O projekcie</a></li>
                <li><a {% if (request.requestURI == "/pobierz") %} class="current"{% endif %} href="/pobierz">Pobierz</a></li>
                <li><a {% if (request.requestURI == "/kontakt") %} class="current"{% endif %} href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>