body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 60px;
	color:#666
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #333;
	letter-spacing:0.05em;
	margin:0;
	padding:0;
	line-height:1.3
}

h1 {
    font-size: 48px;
    /text-transform: uppercase;
	font-weight: 900;
	
}

h2 {
    text-transform: uppercase;
	font-weight: 900;
	font-size:48px;
	
}

h3 {
    color: #990000;
    font-weight: 400;
	font-size:22px;
	 text-transform: uppercase;
}

h4 {
    color: #333;
    font-weight: 300;
}

/* Paragraph & Typographic */
p {
    line-height: 1.4em;
    margin-bottom: 1.2em;
    font-size: 1em;
}

/* Links */
a {
    color: #990000;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover{
    color: #333;
    text-decoration: underline;
    
}
a:focus{
	outline: #0099ff dotted 2px;
	/border:2px #990000 solid;
	color:#990000;
	text-decoration: none
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.navbar-brand > img{
	width:190px
}

.navbar{
	margin-bottom:0;
	height:62px
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li > a {
    color: #666;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-size:15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight:500;
	padding:20px 15px 22px;
	margin-left:1px
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.current, .navbar-default .navbar-nav > li > a:focus{
	background:#990000;
	color:#fff
}
/* Helpers */
.section{
	padding-top:50px;
	padding-bottom:50px
}
.section h3{
	margin-bottom:80px
}
.page-header{
	border:none
}
.page-header h3{
	margin:0;
	
}
.bg-gray{
	background:#f2f2f2
}


.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tv{
	background-image: url('../img/tv.png');
	padding-top: 100px;
    min-height: 650px;
}
#headerwrap {
    background-image: url('../img/bg-top.jpg');
    background-size: cover;  
    width: 100%;	
}

#headerwrap img {
    margin: 0 auto;
}

#headerwrap h1 {
    margin-top: 60px;
    margin-bottom: 15px;
    color: white;
    font-size: 70px;
	font-family: 'Ubuntu', sans-serif;
	line-height:1
}

#headerwrap p {
    color: white;
    font-size: 26px;
    font-weight: 300;
    max-width:70%;
	padding:20px 0;
	
}

/*3 kolumny*/
.column{
	margin-top:20px
}
.column img{
	display:inline;
	margin-bottom:30px;
	max-height:200px
}
.column  h4{
	text-transform:uppercase;
	font-size:18px;
	font-weight:500;
	color:#333
}
.column  p{
	line-height:1.5;
	font-size:16px;
	margin-top:20px
}

/*footer*/
footer {
    padding: 15px;
	border-top:1px #f2f2f2 solid
}
footer p{
	font-size:12px
}
.maic{
	max-width:120px;
	margin-left:15px
}
/*globalny wskaŸnik*/

.rank-value{
	font-size:140px;
	display:inline-block;
	margin-top:50px;
	margin-bottom:-30px;
	position:relative;
	line-height:1;
	letter-spacing:-5px!important;
	color:#fff;
	height:360px;
	width:360px;
	z-index:999;
	font-family:"Ubuntu",sans-serif;
	font-weight:500
}
.rank-value:before{
	content:"";
	position:absolute;
	display:block;
	height:360px;
	width:360px;
	/border:5px #ccc solid;
	border-radius:100%;
	left:0;
	top:-100px;
	background:#990000;
	z-index:-1
}
.rank-value span{
	color:#990000
}


/*box - download*/
.box-download{
	margin-bottom:60px
}
.box-download div{
	background:#fff;
	padding:15px
}
.box-download a{
	display:block
}
.box-download > div:hover{
	box-shadow:0 0 5px #ccc
}
.box-download h5{
	text-transform:uppercase;
	font-size:18px;
	font-weight:500;
	margin:30px 0 10px
}
.box-download a:hover img{
	opacity:.7
}
/*table - ranking */
.alert{
	/font-size:16pt;
	background:#fff;
	padding:20px 15px 25px;
	border:1px #ccc solid
}
.table-section{
	padding:0 2%
}
.table.ranking{
	background:rgba(255,255,255,.7);
	margin:0 0 60px
}
.ranking th{
	text-transform:uppercase;
	font-family: 'Ubuntu', sans-serif;
	padding:30px 15px!important;
	background:#fff;
	border-right:1px #f2f2f2 solid;
	font-weight:500
}
.ranking th:nth-child(4){
	width:180px
}
th.sortable{
	cursor:pointer
}
th.sortable div{
	margin-left:5px
}
.ranking td{
	padding:20px 15px!important;
	border-right:1px #f2f2f2 solid;
	vertical-align:middle!important
}
.ranking th:last-child, .ranking td:last-child{
	border-right:none
}
.ranking a{
	color:#990000
}
.rank-change{
	font-weight:bold;
	color:#38d530
}
.clear{
	clear:both
}
/* BLOG POST */
.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}

.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}

.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}

.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}

.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-heading {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}

.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}

.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}

.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}

.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus .btn {
    border-radius: 3px;
}

.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 120px;
}

.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    width: 100px;
    margin: -61px auto 0;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info h3 {
    margin:30px 0
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info li{
	font-size: 16px;
}

/*buttons*/
.cta{
	padding:20px 30px;
	border-radius:0;
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-weight:900
}
.cta-1{
	color:#fff;
	background:#990000;
	border:2px #990000 solid
}
.cta-1:hover, .cta-1:focus{
	background:#fff;
	color:#990000
}

.cta-2{
	color:#fff;
	border:2px #fff solid
}
.cta-2:hover, .cta-2:focus{
	background:#fff;
	color:#990000
}
/*forms*/
input[type="text"], input[type="email"],input[type="url"]{
	border-radius:0;
	margin-bottom:15px;
	font-size:1em
}
.form-control {
    height: 42px;
    font-size: 1em;
    min-width: 295px;
	border:1px #ccc solid;
	box-shadow:none
}
textarea.form-control{
	font-size:1em
}
/*ikony zmiany fontu i kontrastu*/
.icons{
	position:fixed;
	right:0;
	top:15%;
	z-index:9999
}
.icons span, .icons a{
	display:block;
	font-family: 'Ubuntu', sans-serif;
	line-height:1;
	font-weight:900;
	padding:10px;
	margin-bottom:1px;
	
}
.icons span:focus, .icons a:focus{
	border:1px red solid
}
.font{
	position:relative
}
.font em{
	font-size:10px;
	font-style:normal;
	position:absolute;
	top:2px;
	
	right:2px
}
.font, .contrast{
	background:#fff;
	color:#000;
	cursor:pointer
}
.icons .font-plus-plus{
	margin-bottom:20px
}
.contrast-2{
	background:#000;
	color:#fff;
}
.contrast-3{
	background:#ffff00;
	color:#000;
}
.contrast-4{
	background:#000;
	color:#ffff00;
}
.visible-contrast{
	display:none
}
.visible-contrast a{
	color:#fff;	
}
.visible-contrast ul{
	padding:0;
	margin:0
}

/*websites - serwisy*/
.websites{
	margin-bottom:30px
}
.cta-search{
	padding:7px 15px 8px;
	width:100%
}
/*audits*/
.audits h4:first-of-type{
	margin-top:20px;
	color:#666
}
.audits h4{
	color:#666
}
/*website - wyniki analizy*/
.rank-header{
	margin-bottom:100px
}
/*news*/
.news h3{
	margin-bottom:10px;
	color:#333
}
.news p.date{
	color:#990000;
	font-size:14px
}
.news p{
	color:#666
}
/*info*/
.info h3{
	margin-bottom:20px
}
.templates{
	margin-top:60px
}



/*rwd*/
.navbar-toggle{
	border-radius:0;
	/margin-right:0;
	margin-top:13px;
	border:1px #990000 solid!important;
	background:#990000!important;
}
.navbar-toggle:hover{
	
	color:#fff
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff!important
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height:none
}

@media only screen and (max-width: 1200px) {
	.container{
		width:100%!important
	}
	h2{
		max-width:85%;
		margin:0 auto
	}
}

@media only screen and (max-width: 1024px) {
	.container{
		width:inherit
	}
	.navbar-default .navbar-nav > li > a{
		padding:20px 12px 22px
	}
}
@media only screen and (max-width: 980px) {
	.navbar-default .navbar-nav > li > a{
		padding:20px 8px 22px;
		font-size:11px
	}
}
@media only screen and (max-width: 800px) {
	
	.tv{
		padding-top:30px
	}
	.box-download figure img{
		width:100%
	}
	footer img.pull-right{
		float:none!important;
		display:inline-block
	}
	.maic{
		margin:0 15px 0 0
	}
	.font{
		display:none!important
	}
	
}

@media only screen and (max-width: 768px) {
	.navbar-nav{
		background:#fff;
		margin-top:0;
		z-index:999;
		box-shadow:0 0 5px #000
	}
	.navbar-default .navbar-nav > li > a{
		padding:15px 15px 17px;
		font-size:15px
	}
	.icons{
		top:13px;
		right:100px
	}
	.icons span, .icons a{
		float:left;
		margin-left:5px
	}
	
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 480px) {
	#headerwrap h1{
		font-size:50px
	}
	.tv{
		padding:0 0 30px 0
	}
	.cta-1{
		margin-bottom:15px
	}
	#headerwrap p{
		max-width:unset
	}
	h2{
		font-size:28px
	}
	.section h3{
		margin-bottom:30px
	}
	.rank-value{
		font-size:90px;
		color:red;
		height:auto;
		width:auto;
		margin:0px 0 30px 0
	}
	.rank-value::before{
		display:none;
		
	}
	.icons{
		right:90px
	}
}

@media only screen and (max-width: 360px) {
	#headerwrap h1{
		font-size:36px
	}
	.icons{
		position:static;
		margin-right:15px;
		float:right
		
	}
	.icons span, .icons a{
		margin-top:15px
	}
	
}